#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Core Style */

.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 54px);
  grid-gap: 0px; /* optional: add gap between grid cells */
}

.grid-item {
  height: 54px;
}

.type-G {
  background-color:aquamarine; /* grass */
}

.type-F {
  background-color:darkolivegreen; /* forest */
}

.type-M {
  background-color:brown; /* mountain */
}

.type-S {
  background-color:khaki; /* sand */
}

.type-W {
  background-color:blue; /* waves */
}