#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*---------------------------------*/
/*---------------------------------*/
/* CORE STYLES */
/*---------------------------------*/
/*---------------------------------*/

.main-container {
  position: relative;
}

.grid-container-over-a {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
  opacity: 0.5;
  z-index: 9;
}

.grid-container-over-a .range-map {
  display: grid;
  grid-template-columns: repeat(20, 54px);
  grid-gap: 0px;
}

@keyframes fade {
  0% {
    background-color: rgba(255, 0, 0, 0.7);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.3);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.7);
  }
}

.range-block {
  position: absolute;
  animation: fade 2s infinite;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* TERRAIN */

.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 54px);
  grid-gap: 0px; 
  z-index: 5;
}

.grid-item {
  width: 54px;
  height: 54px;
  position: relative;
}

.type-G { /* grass */
  /*background-color:aquamarine;*/
  background-image: url('../src/assets/terrain/terrain-grass.png');
}

.type-F { /* forest */
  /* background-color:darkolivegreen;  */
  background-image: url('../src/assets/terrain/arvore-01.png'), url('../src/assets/terrain/terrain-grass.png');
}

.type-M { /* mountain */
  /* background-color:brown; */
  background-image: url('../src/assets/terrain/terrain-mountain.png'), url('../src/assets/terrain/terrain-grass.png');
}

.type-S { /* sand */
  /* background-color:khaki;  */
  background-image: url('../src/assets/terrain/terrain-sand.png');
}

.type-W { /* waves */
  /* background-color:blue;  */
  background-image: url('../src/assets/terrain/terrain-water.gif');
}

/*---------------------------------*/
/*---------------------------------*/
/* UNITS */
/*---------------------------------*/
/*---------------------------------*/

.life-bar {
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: 1s;
}

/* BASES */

.base {
  position: relative;
}

.base:hover .life-bar {
  opacity: 1;
}

.base-0-city {
  background-image: url('../src/assets/bases/human_city.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.base-1-city {
  background-image: url('../src/assets/bases/orc_city.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}

/**/

.type-S.human-city {
  background-image: url('../src/assets/bases/human_city.png'), url('../src/assets/terrain/terrain-sand.png');
}

.type-G.human-city {
  background-image: url('../src/assets/bases/human_city.png'), url('../src/assets/terrain/terrain-grass.png');
}

.type-S.orc-city {
  background-image: url('../src/assets/bases/orc_city.png'), url('../src/assets/terrain/terrain-sand.png');
}

.type-G.orc-city {
  background-image: url('../src/assets/bases/orc_city.png'), url('../src/assets/terrain/terrain-grass.png');
}

/* ARMY */

.army {
  position: relative;
  z-index: 15;
}

.army:hover .life-bar {
  opacity: 1;
}

.army-human-knight {
  background-image: url('../src/assets/player/human-knight-01.gif');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.army-orc-knight {
  background-image: url('../src/assets/player/orc-knight-01.gif');
  background-size: cover;
  width: 100%;
  height: 100%;
}