#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Core Style */

/* TERRAIN */

.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 54px);
  grid-gap: 0px; /* optional: add gap between grid cells */
}

.grid-item {
  height: 54px;
}

.type-G { /* grass */
  /*background-color:aquamarine;*/
  background-image: url('../src/assets/terrain/terrain-grass.png');
}

.type-F { /* forest */
  /* background-color:darkolivegreen;  */
  background-image: url('../src/assets/terrain/arvore-01.png'), url('../src/assets/terrain/terrain-grass.png');
}

.type-M { /* mountain */
  /* background-color:brown; */
  background-image: url('../src/assets/terrain/terrain-mountain.png'), url('../src/assets/terrain/terrain-grass.png');
}

.type-S { /* sand */
  /* background-color:khaki;  */
  background-image: url('../src/assets/terrain/terrain-sand.png');
}

.type-W { /* waves */
  /* background-color:blue;  */
  background-image: url('../src/assets/terrain/terrain-water.gif');
}

/* BASES */

.human-city {
  background-image: url('../src/assets/bases/human_city.png');
}

.orc-city {
  background-image: url('../src/assets/bases/orc_city.png');
}
